anaconda-client==1.6.2
asn1crypto==0.24.0
bleach==1.5.0
certifi==2019.11.28
cffi==1.11.5
chardet==3.0.4
Click==7.0
clyent==1.2.2
colorama==0.3.7
cryptography==2.0.3
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
Flask==0.12.4
h5py==2.7.0
html5lib==0.999
idna==2.8
ipykernel==4.5.2
ipython==5.3.0
ipython-genutils==0.1.0
ipywidgets==6.0.0
itsdangerous==1.1.0
Jinja2==2.9.5
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.2
MarkupSafe==0.23
matplotlib==2.0.2
mistune==0.7.4
nb-anacondacloud==1.2.0
nb-conda==2.0.0
nb-conda-kernels==2.0.0
nbconvert==5.1.1
nbformat==4.3.0
nbpresent==3.0.2
notebook==4.4.1
numpy==1.12.1
olefile==0.44
opencv-python==3.1.0.0
pandocfilters==1.4.1
path.py==10.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.13
protobuf==3.2.0
pycparser==2.19
Pygments==2.2.0
pyOpenSSL==17.4.0
pyparsing==2.1.4
PySocks==1.6.8
python-dateutil==2.6.0
pytz==2019.3
PyYAML==5.3
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.22.0
scikit-learn==0.19.0
scipy==1.4.1
simplegeneric==0.8.1
six==1.14.0
tensorflow==1.0.1
testpath==0.3
Theano==0.9.0
tornado==4.4.2
tqdm==4.11.2
traitlets==4.3.2
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==1.0.0
widgetsnbextension==2.0.0
win-inet-pton==1.0.1
win-unicode-console==0.5
