{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">
        Result
        <span class="badge">
            probability
        </span>
    </h1>
        <ul class="list-group">
            {% for category, probability in classification_result.items() %}
                {% if probability > 0.5 %}
                    <li class="list-group-item list-group-item-success text-center">
                        {{category.replace('_', ' ').title()}}
                        <span class="badge">
                            {{probability}}
                        </span>
                    </li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">
                        {{category.replace('_', ' ').title()}}
                    </li>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
